.сustom-pagination {
    font-family: 'HelveticaRoman';
    font-weight: 400;
    font-size: 22px;
    line-height: calc(26 / 22);

    
    @include tablet() {
        float: right;
        width: auto;
    }
}

.сustom-pagination__delimiter {
    margin: 0 34px
}

.custom-pagination__total {
    color: rgba(0, 0, 0, 0.2);
}