.nav {
    position: relative;
    a {
        font-family: 'HelveticaRoman';
        color: var(--whiteColorText);
    }

    .container {
        padding-top: 40px;
        padding-bottom: clamp(1.375rem, 0.51rem + 3.69vw, 4.938rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: clamp(6rem, -39rem + 50vw, 21rem);

        @include tablet () {
            align-items: baseline;
        }
    }
}

.nav__logo {
    position: relative;
    z-index: 6;
    font-size: 20px;
    font-weight: 500;
    line-height: calc(24 / 20);
}

.nav__contact {
    font-size: 16px;
    line-height: 20px;

    @include tablet () {
        display: none;
    }
}